{% extends "base.html" %}

{% block tab_content %}
    Главная
{% endblock %}

{% block page_content %}



    {% if page_obj.number == 1 %}
        <div class="container">

            <div class="mb-4">
                {% if popular.title %}
                    <div class="card" style="background-color: WhiteSmoke">
                    {% if popular.photo %}
                        <img src="{{ popular.photo.url }}" class="card-img-top" alt="" width="100">
                    {% else %}
                        <img src="https://picsum.photos/seed/picsum/1980/720" alt="">
                    {% endif %}
                    <div class="card-header">
                        Самое свежее
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ popular.title }}</h5>
                        <p class="card-text">{{ popular.subtitle }}</p>
                    </div>
                    <div class="card-footer">
                    <small class="text-muted">Опубликовано: {{ popular.created_at }}
                        <a href='{% url 'post_detail' popular.pk %}'
                           class="btn btn-outline-secondary float-right">Читать</a></small>
                {% else %}
                    <p>Sorry, no articles have been written yet.</p>
                {% endif %}
                </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row row-cols-1 row-cols-md-2">
                {% for object in object_list %}
                    <div class="col mb-4">
                        <div class="card">
                            {% if object.photo %}
                                <img src="{{ object.photo.url }}" class="card-img-top" alt="" width="100">
                            {% else %}
                                <img src="https://picsum.photos/id/870/1200/675?grayscale&blur=2" alt="">
                            {% endif %}
                            <div class="card-header">
                                <small class="text-muted"> <a href="{{ object.category.get_absolute_url }}"
                                                              style="color: #7a7978">{{ object.category }}</a></small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ object.title }}</h5>
                                <p class="card-text">{{ object.subtitle }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Опубликовано: {{ object.created_at }}
                                    <a href='{% url 'post_detail' object.pk %}'
                                       class="btn btn-outline-secondary float-right">Читать</a></small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Sorry, no articles have been written yet.</p>
                {% endfor %}
            </div>
        </div>

    {% else %}
        <div class="container">
            <div class="row row-cols-1 row-cols-md-2">
                {% for object in object_list %}
                    <div class="col mb-4">
                        <div class="card">
                            {% if object.photo %}
                                <img src="{{ object.photo.url }}" class="card-img-top" alt="" width="100">
                            {% else %}
                                <img src="https://picsum.photos/id/870/1200/675?grayscale&blur=2" alt="">
                            {% endif %}
                            <div class="card-header">
                                <small class="text-muted">{{ object.category }}</small>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">{{ object.title }}</h5>
                                <p class="card-text">{{ object.subtitle }}</p>
                            </div>
                            <div class="card-footer">
                                <small class="text-muted">Опубликовано: {{ object.created_at }}
                                    <a href='{% url 'post_detail' object.pk %}'
                                       class="btn btn-outline-secondary float-right">Читать</a></small>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <p>Sorry, no articles have been written yet.</p>
                {% endfor %}
            </div>
        </div>

    {% endif %}


    <div class="container mt-3">
        <nav aria-label="Page navigation example ">
            <ul class="pagination justify-content-center ">

                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link " href="?page={{ page_obj.previous_page_number }}">Назад</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
                    </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if page_obj.number == p %}
                        <li class="page-item active"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Дальше</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Дальше</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>



{% endblock %}