{% extends "base.html" %}

{% block tab_content %}
    {{post_item.title}}
{% endblock %}

{% block page_content %}
    <div class="container">
        <div class="row">
        <!-- Post Content Column -->
        <div class="col-lg-8">
            <!-- Title -->
            <h1 class="mt-4">{{post_item.title}}</h1>
            <h3 class="mt-4">{{post_item.subtitle}}</h3>
            <hr>
            <!-- Date/Time -->
            <p>Опубликовано: {{post_item.created_at}}</p>
            <hr>
            {% if post_item.photo %}
                <img src="{{ post_item.photo.url }}" class="card-img-top" alt="" width="900">
            {% endif %}
            {% autoescape off %}
            <p class="lead">{{post_item.body |linebreaks }}</p>
            {% endautoescape %}
        </div>
        </div>
    </div>
{% endblock %}