{% extends "base.html" %}

{% block tab_content %} 
    Регистрация
{% endblock %}


{% block page_content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h1 class="mt-4">Регистрация</h1>
                <hr>
                <form method="POST">
                    {% csrf_token %}        {# Специальная защита. Уникальный токен #}
                    {{ form.as_p }}         {# Вывод полей form каждый через тег <p> #}
                    <button type="submit" class="btn btn-outline-secondary btn-block">Регистрация</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}